* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Figtree', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
}

.main-header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(11, 11, 11);
    border-bottom: 2px solid black;
}

.main-header span a {
    color: rgba(255, 244, 244, 0.739);
    font-size: 50px;
    font-weight: bold;
    font-family: 'Bebas Neue';

    text-decoration: none;

    user-select: none;
}

.main-header ul {
    display: flex;
    align-items: center;
    margin-right: 20px;


}

.main-header ul li {
    list-style: none;
    padding: 10px;
    margin-left: 20px;
}

.main-header ul li a {
    text-decoration: none;
    color: rgb(255, 250, 250);
    font-size: 20px;
    opacity: 0.3;

    transition: .6s;
}

.main-header ul li a:hover {
    opacity: 1;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
}

section {
    width: 40%;
    border: 2px solid black;
    padding: 20px 40px;
    display: flex;
    align-items: center;  
    margin-bottom: 20px;
    border-radius: 5px;
}

article {
    width: 100%;
}

.article-header {
    display: flex;
    align-items: center;
    padding-bottom: 20px;

}

.article-header img {
    width: 60px;
    border-radius: 60%;
}

.article-header a {
    padding-left: 10px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
}

.article-container-photos{
    width: 100%;
}

.article-photo {
    width: 100%;
    text-align: center;
    
}

.article-photo img {
    width: 100%;
    border-radius: 8px;
    max-height: 460px;
    object-fit: cover;
    
    transition: 1.0s;
}

.article-photo img:hover {
    transform: scale(1.02);
}

.article-actions {
    padding-top: 10px;

}

.article-actions a {
    color: black;
    font-size: 16px;
    margin-right: 10px;
}


@media (max-width: 600px) {
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    section {
        width: 80%;
        padding: 10px;
    }


    .article-actions {
        display: flex;
        font-size: 12px;
    }

    .main-header {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .main-header ul{
        padding: 0;
        margin: 0;
    }

    .main-header ul li{
        padding: 0;
        margin: 0;
    }

    .main-header span a {
        font-size: 30px;
    }

    .main-header ul li a{
        font-size: 15px;
        padding: 5px;
    }
}
